<div>
  <h2>Graduate Faculty</h2>
 </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <ul>
        <strong>American Literature</strong>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/joyce-joyce" title="Joyce A. Joyce">Joyce A. Joyce</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/henry-katherine" title="Katherine Henry">Katherine Henry</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/kaufmann-michael" title="Michael Kaufmann">Michael Kaufmann</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/lee-sue-im" title="Sue-Im Lee">Sue-Im Lee</a></li> 
        <li><a href="https://liberalarts.temple.edu/academics/faculty/orvell-miles" title="Miles Orvell">Miles Orvell</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/osman-jena" title="Jena Osman">Jena Osman</a></li> 
        <li><a href="https://liberalarts.temple.edu/academics/faculty/salazar-james" title="James Salazar">James Salazar</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/singer-alan" title="Alan Singer">Alan Singer</a></li> 
        <li><a href="https://liberalarts.temple.edu/academics/faculty/williams-roland" title="Roland L. Williams Jr.">Roland L. Williams Jr.</a></li><br> 
        <strong>British Literature</strong>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/ford-talissa" title="Talissa Ford">Talissa Ford</a></li> 
        <li><a href="https://liberalarts.temple.edu/academics/faculty/harris-carissa" title="Carissa M. Harris">Carissa M. Harris</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/joshi-priya" title="Priya Joshi">Priya Joshi</a></li> 
        <li><a href="https://liberalarts.temple.edu/academics/faculty/miller-nichole" title="Nichole Miller">Nichole Miller</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/newman-steve" title="Steve Newman">Steve Newman</a></li>  
        <li><a href="https://liberalarts.temple.edu/academics/faculty/singer-alan" title="Alan Singer">Alan Singer</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/venuti-lawrence" title="Lawrence Venuti">Lawrence Venuti</a></li><br> 
        <strong>Composition and Rhetoric</strong>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/omizo-ryan" title="Ryan Omizo">Ryan Omizo</a></li>
        <li><a href="" title="Shannon Walters">Shannon Walters</a></li><br>  
        <strong>Critical and Cultural Theories</strong><br>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne" title="Suzanne Gauch">Suzanne Gauch</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/joshi-priya" title="Priya Joshi">Priya Joshi</a></li> 
        <li><a href="https://liberalarts.temple.edu/academics/faculty/kaufmann-michael" title="Michael Kaufmann">Michael Kaufmann</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/miller-nichole" title="Nichole Miller">Nichole Miller</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/newman-steve" title="Steve Newman">Steve Newman</a></li>  
        <li><a href="https://liberalarts.temple.edu/academics/faculty/singer-alan" title="Alan Singer">Alan Singer</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/venuti-lawrence" title="Lawrence Venuti">Lawrence Venuti</a></li><br> 
        <strong>Ethnic and African American Literatures</strong> 
        <li><a href="https://liberalarts.temple.edu/academics/faculty/henry-katherine" title="Katherine Henry">Katherine Henry</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/joyce-joyce" title="Joyce A. Joyce">Joyce A. Joyce</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/lee-sue-im" title="Sue-Im Lee">Sue-Im Lee</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/orvell-miles" title="Miles Orvell">Miles Orvell</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/salazar-james" title="James Salazar">James Salazar</a></li>  
        <li><a href="https://liberalarts.temple.edu/academics/faculty/williams-roland" title="Roland L. Williams Jr.">Roland L. Williams Jr.</a></li>
      </ul>
    </div>
   </div>
 </div>
    <div class="row">
      <div class="col s12 m6">
        <ul>
          <strong>Gender and Sexuality</strong>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/ford-talissa" title="Talissa Ford">Talissa Ford</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne" title="Suzanne Gauch">Suzanne Gauch</a></li>  
          <li><a href="https://liberalarts.temple.edu/academics/faculty/harris-carissa" title="Carissa M. Harris">Carissa M. Harris</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/joyce-joyce" title="Joyce A. Joyce">Joyce A. Joyce</a></li>
          <strong>Literature and Visual Studies</strong>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/williams-roland" title="Roland L. Williams Jr.">Roland L. Williams Jr.</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne" title="Suzanne Gauch">Suzanne Gauch</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/joshi-priya" title="Priya Joshi">Priya Joshi</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/orvell-miles" title="Miles Orvell">Miles Orvell</a></li> 
          <li><a href="https://liberalarts.temple.edu/academics/faculty/osman-jena" title="Jena Osman">Jena Osman</a></li>  
          <li><a href="https://liberalarts.temple.edu/academics/faculty/singer-alan" title="Alan Singer">Alan Singer</a></li>  
          <li><a href="https://liberalarts.temple.edu/academics/faculty/venuti-lawrence" title="Lawrence Venuti">Lawrence Venuti</a></li>
          <strong>Poetry and Poetics</strong>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/newman-steve" title="Steve Newman">Steve Newman</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/osman-jena" title="Jena Osman">Jena Osman</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/singer-alan" title="Alan Singer">Alan Singer</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/venuti-lawrence" title="Lawrence Venuti">Lawrence Venuti</a></li>
          <strong>Postcolonial and Global Literatures</strong>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/ford-talissa" title="Talissa Ford">Talissa Ford</a></li></a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne" title="Suzanne Gauch">Suzanne Gauch</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/joshi-priya" title="Priya Joshi">Priya Joshi</a></li>  
          <li><a href="https://liberalarts.temple.edu/academics/faculty/joyce-joyce" title="Joyce A. Joyce">Joyce A. Joyce</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/venuti-lawrence" title="Lawrence Venuti">Lawrence Venuti</a></li>
          <strong>Digital Humanities</strong>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/kaufmann-michael" title="Michael Kaufmann">Michael Kaufmann</a></li>
          <li><a href="" title="Laura McGrath">Laura McGrath (Laura McGrath begins in Fall 2020)</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/newman-steve" title="Steve Newman">Steve Newman</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/omizo-ryan" title="Ryan Omizo">Ryan Omizo</a></li>  
        </ul>
      </div>
    </div>
   </div>         
</div>
