<div>
  <h2>Graduate Faculty</h2>
 </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6">
       
      <ul>
        <li><strong>American Literature<strong></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/singer-alan" title="Alan Singer">Alan Singer</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/teare-brian" title="Brian Teare">Brian Teare</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/salazar-james" title="James Salazar">James Salazar</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/osman-jena" title="Jena Osman">Jena Osman</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/joyce-joyce" title="Joyce A. Joyce">Joyce A. Joyce</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/henry-katherine" title="Katherine Henry">Katherine Henry</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/kaufmann-michael" title="Michael Kaufmann">Michael Kaufmann</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/orvell-miles" title="Miles Orvell">Miles Orvell</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/williams-roland" title="Roland L. Williams Jr.">Roland L. Williams Jr.</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/lee-sue-im" title="Sue-Im Lee">Sue-Im Lee</a></li>
        <li><strong>British Literature<strong></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/singer-alan" title="Alan Singer">Alan Singer</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/harris-carissa" title="Carissa M. Harris">Carissa M. Harris</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/venuti-lawrence" title="Lawrence Venuti">Lawrence Venuti</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/miller-nichole" title="Nichole Miller">Nichole Miller</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/logan-peter-m" title="Peter Logan">Peter Logan</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/joshi-priya" title="Priya Joshi">Priya Joshi</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/newman-steve" title="Steve Newman">Steve Newman</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/ford-talissa" title="Talissa Ford">Talissa Ford</a></li>
        <li><strong>Composition and Rhetoric<strong></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/goldblatt-eli" title="Eli Goldblatt">Eli Goldblatt</a></li>
        <li><a href="" title="Shannon Walters">Shannon Walters</a></li>
        <strong>Critical and Cultural Theories<strong></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/singer-alan" title="Alan Singer">Alan Singer</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/goldblatt-eli" title="Eli Goldblatt">Eli Goldblatt</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/harris-carissa" title="Carissa M. Harris">Carissa M. Harris</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/venuti-lawrence" title="Lawrence Venuti">Lawrence Venuti</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/kaufmann-michael" title="Michael Kaufmann">Michael Kaufmann</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/miller-nichole" title="Nichole Miller">Nichole Miller</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne" title="Suzanne Gauch">Suzanne Gauch</a></li>
        <li><strong>Gender and Sexuality<strong></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/teare-brian" title="Brian Teare">Brian Teare</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/harris-carissa" title="Carissa M. Harris">Carissa M. Harris</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/joyce-joyce" title="Joyce A. Joyce">Joyce A. Joyce</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne" title="Suzanne Gauch">Suzanne Gauch</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/ford-talissa" title="Talissa Ford">Talissa Ford</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="col s12 m6">
     
        <ul> 
          <li><strong>Ethnic and African American Literatures<strong></li>  
          <li><a href="https://liberalarts.temple.edu/academics/faculty/salazar-james" title="James Salazar">James Salazar</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/joyce-joyce" title="Joyce A. Joyce">Joyce A. Joyce</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/henry-katherine" title="Katherine Henry">Katherine Henry</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/orvell-miles" title="Miles Orvell">Miles Orvell</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/williams-roland" title="Roland L. Williams Jr.">Roland L. Williams Jr.</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/lee-sue-im" title="Sue-Im Lee">Sue-Im Lee</a></li>
          <li><strong>Literature and Visual Studies (film, photography)<strong></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/singer-alan" title="Alan Singer">Alan Singer</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/osman-jena" title="Jena Osman">Jena Osman</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/venuti-lawrence" title="Lawrence Venuti">Lawrence Venuti</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/orvell-miles" title="Miles Orvell">Miles Orvell</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/joshi-priya" title="Priya Joshi">Priya Joshi</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/williams-roland" title="Roland L. Williams Jr.">Roland L. Williams Jr.</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne" title="Suzanne Gauch">Suzanne Gauch</a></li>
          <li><strong>Poetry and Poetics<strong></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/singer-alan" title="Alan Singer">Alan Singer</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/teare-brian" title="Brian Teare">Brian Teare</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/goldblatt-eli" title="Eli Goldblatt">Eli Goldblatt</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/osman-jena" title="Jena Osman">Jena Osman</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/venuti-lawrence" title="Lawrence Venuti">Lawrence Venuti</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/newman-steve" title="Steve Newman">Steve Newman</a></li>
          <li><strong>Poetry and Poetics<strong></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/joyce-joyce" title="Joyce A. Joyce">Joyce A. Joyce</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/venuti-lawrence" title="Lawrence Venuti">Lawrence Venuti</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/joshi-priya" title="Priya Joshi">Priya Joshi</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne" title="Suzanne Gauch">Suzanne Gauch</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/ford-talissa" title="Talissa Ford">Talissa Ford</a></li></a></li>
        </ul>
      </div>
    </div>
  </div>
